<!DOCTYPE html>
<html lang="en" ng-app="wfd">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/vendor.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/vendors.js"></script>
  <script src="/js/application.js"></script>
  <title>What's For Dinner</title>

  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body ng-controller="wfd-app">
  <header layout="row" layout-align="start center">
    <md-toolbar class="md-accent md-default-theme" layout="row">
      <div class="md-toolbar-tools">
        <h1 flex="75">What's For Dinner</h1>

        <div class="options" flex="25">
          <label for="">Options</label>
          <a href="#options" class="btn options" ng-click="openOptions($event)"></a>
        </div><!-- .options -->
      </div>
    </md-toolbar>

  </header>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="optionswindow">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Options</h1>
    </md-toolbar>
    <md-content ng-controller="options-controller" class="md-padding">
      <h2>Meals to Plan</h2>

      <md-checkbox ng-model="showBreakfast"
        ng-model-options="{ getterSetter: true }" aria-label="Plan Breakfast">
        Breakfast
      </md-checkbox>
      <md-checkbox ng-model="showLunch"
        ng-model-options="{ getterSetter: true }" aria-label="Plan Lunch">
        Lunch
      </md-checkbox>
      <md-checkbox ng-model="showDinner"
        ng-model-options="{ getterSetter: true }" aria-label="Plan Dinner">
        Dinner
      </md-checkbox>

      <hr class="section-spacer">

      <md-button ng-click="close()" md-class="primary">
        Close
      </md-button>
    </md-content>
  </md-sidenav>

  <div id="main">
    <md-tabs md-selected="currentDay">
      <md-tab ng-repeat="day in days" label="{{day}}">
        <div layout="column" layout-fill layout-align="space-around center"
          class="day">

          <div class="meal {{meal}}"
            ng-repeat="meal in meals | filter:showMeal" >
            <h2>{{meal}}</h2>

            <form action="" ng-controller="meal-controller">
              <p>
                <md-text-float label="Meal Name"
                  class="long"
                  ng-model="mealName"
                  ng-model-options="{ getterSetter: true }">
                </md-text-float>
              </p>

              <p>
                <md-text-float label="Recipe URL"
                  class="long"
                  ng-model="mealUrl"
                  ng-model-options="{ getterSetter: true }">
                </md-text-float>
              </p>

              <p>
                <label for="{{day}}.{{meal}}.ingredients" class="light">
                  Ingredients<br>
                  <textarea type="text" name="{{day}}.{{meal}}.ingredients"
                    ng-model="mealIngredients"
                    ng-model-options="{ getterSetter: true }">
                  </textarea>
                </label>
              </p>
            </form><!-- form | meal-controller -->

            <md-divider ng-if="!$last"></md-divider>

            <hr class="section-spacer">

          </div><!-- ng-repeat="meal in meals" .meal.{{meal}} -->

        </div><!-- .day | day-controller -->
      </md-tab><!-- ng-repeat="day in days" -->
    </md-tabs>
  </div><!-- #main -->
</body>
</html>
