<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="optionswindow">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Options</h1>
  </md-toolbar>
  <md-content ng-controller="OptionsController" class="md-padding">
    <h2>Meals to Plan</h2>

    <md-checkbox ng-model="showBreakfast"
      ng-model-options="{ getterSetter: true }" aria-label="Plan Breakfast">
      Breakfast
    </md-checkbox>
    <md-checkbox ng-model="showLunch"
      ng-model-options="{ getterSetter: true }" aria-label="Plan Lunch">
      Lunch
    </md-checkbox>
    <md-checkbox ng-model="showDinner"
      ng-model-options="{ getterSetter: true }" aria-label="Plan Dinner">
      Dinner
    </md-checkbox>

    <hr class="section-spacer">

    <md-button ng-click="viewShoppingList()">
      View Shopping List
    </md-button>

    <hr class="section-spacer">

    <md-button ng-click="close()" md-class="primary">
      Close
    </md-button>
  </md-content>
</md-sidenav>

<div layout="column" layout-fill flex>
  <md-toolbar md-scroll-shrink class="md-primary md-hue-2">
    <header layout="row">
      <div class="md-toolbar-tools">
        <h1 flex="75">What's For Dinner</h1>

        <div class="options" flex="25">
          <a href="#options" class="btn options" ng-click="openOptions($event)">Options</a>
        </div><!-- .options -->
      </div>
    </header>
  </md-toolbar>
  <md-content>
  <div id="main">
    <md-tabs md-selected=0 md-stretch-tabs="always" class="md-primary">
      <md-tab ng-repeat="day in days" label="{{day}}">
        <div layout="column" layout-align="space-around center" class="day">

          <div class="meal {{meal}}" ng-repeat="meal in meals | filter:showMeal">
            <h2>{{meal}}</h2>

            <form name="mealForm" ng-show="plan" ng-controller="MealController">
              <md-input-container>
                <label class="light">Meal Name</label>
                <md-input class="long"
                  ng-model="mealName"
                  ng-blur="syncMealChange('name')"
                  ng-model-options="{ getterSetter: true }">
                </md-input>
              </md-input-container>

              <md-input-container>
                <label class="light">Recipe URL</label>
                <md-input class="long"
                  ng-model="mealUrl"
                  ng-model-options="{ getterSetter: true }"
                  ng-blur="syncMealChange('url')"
                  >
                </md-input>
              </md-input-container>

              <md-input-container flex>
                <label for="ingredients" class="light">
                  Ingredients
                </label>
                <textarea type="text" name="ingredients"
                  rows="3"
                  ng-model="mealIngredients"
                  ng-model-options="{ getterSetter: true }"
                  ng-blur="syncIngredientsChange()">
                </textarea>
              </md-input-container>
            </form><!-- form | meal-controller -->

            <md-divider ng-if="!$last"></md-divider>

            <hr class="section-spacer">

          </div><!-- ng-repeat="meal in meals" .meal.{{meal}} -->

        </div><!-- .day | day-controller -->
      </md-tab><!-- ng-repeat="day in days" -->
    </md-tabs>
  </div><!-- #main -->
  </md-content>
</div>
