@mixin outer-container {
  max-width: em(1024);
  margin: 0 auto;
}
.outer-container {
  @include outer-container;
}

hr.section-spacer {
  height: 0;
  max-height: 0;
  border: none;
  margin-bottom: 2em;
}

.meal, #ingredientsChecklist {
  width: 60%;
  margin: 0 auto;

  @media screen and (max-width: 960px) {
    width: 100%;
  }
}
