.btn.options {
  // TODO - Improve sizing, colors, interaction, and compatibility
  display: inline-block;
  height: 36px;
  width: 60px;
  background: url('/img/icons/ic_more_vert_36px.svg') no-repeat top left;
  background-size: contain;
}
